span.item {
    border: 1px solid #82DE3A;
    text-align: center;
    /* width: 25px; */
}

button {
    /* width: 25px; */
    font-size: .8em;
}
.add-btn button {
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82DE3A;
    box-sizing: border-box;
}
.add-btn input {
    background: #FFFFFF;
    border: 1px solid #82DE3A;
    box-sizing: border-box;
}